{% extends 'base.html' %}


{% block content %}
  

<div class="container">

  <div class="row justify-content-center">
      <div class="col-md-8">
        <a href="{% url 'showProducts' %}" class="btn btn-primary mt-2">Back</a>
          <div class="card m-5 p-2" style="width: 25rem;">
              <img src="{{ eachProduct.image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title m-1"><b>Title:</b> {{ eachProduct.title }}</h5>
                  <h4 class="card-subtitle m-1"><b>Content:</b> {{ eachProduct.content }}</h4>
                  <p style="font-size: 14px;" class="btn btn-warning m-1 p-1">{{ eachProduct.category.name }}</p>
                  <hr>
                  <p style="font-size: 15px;" class="card-text mt-1">Seo_tags: {{ eachProduct.seo_tags }}</p>
                  <p style="font-size: 13px;" class="cart-text mt-1">added - {{ eachProduct.createionDate }}</p>
                  <a href="{% url 'deleteProduct' eachProduct.id %}" class="btn btn-danger m-1"> Delete </a>
                  <a href="{% url 'updateProduct' eachProduct.id %}" class="btn btn-primary m-1"> Update </a>
              </div>
          </div>
      </div>

    
  </div>

</div>


{% endblock %}

